body {
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
h1,
h2,
h3,
h4 {
  color: #ec292a;
  text-transform: uppercase;
  padding: 1em;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 600;
  font-size: 2em;
}
h4 {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
p {
  color: #ec292a;
  font-weight: 100;
  line-height: 2em;
}
.hamburger {
  position: relative;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #ec292a;
  border-bottom: 0.2em solid #ec292a;
  display: none;
  cursor: pointer;
}
.hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #ec292a;
}
.button {
  cursor: pointer;
  background-color: #ec292a;
  color: #fff;
  padding: 1em 3em;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
}
.button:hover {
  background-color: #f48787;
}
.button.button-grey {
  background-color: #b8b8b8;
}
.button.button-outline {
  background-color: transparent;
  border: 1px solid #fff;
  font-weight: 300;
}
.button.button-outline:hover {
  background-color: #fff;
  color: #2A2A2A !important;
}
.main-container {
  max-width: 1440px;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .menu-bar {
  height: 110px;
  max-width: 1440px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.main-container .menu-bar .menu-branding {
  display: flex;
  align-items: center;
}
.main-container .menu-bar .menu-branding .menu-logo {
  background-color: #ec292a;
  height: 100%;
  width: 94px;
  background-image: url('../images/desktop/Page 1.svg');
}
.main-container .menu-bar .menu-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
}
.main-container .menu-bar .menu-options > h4 {
  margin: 0 1.5em;
}
.main-container .main-content {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .main-content .call-to-action {
  max-width: 1440px;
  width: 100vw;
  height: 650px;
  background-color: #2A2A2A;
  background-image: url('../images/desktop/Home-team-hi.jpg');
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container .main-content .call-to-action > * {
  color: #fff;
  max-width: 50%;
  text-align: center;
}
.main-container .main-content .call-to-action h1 {
  font-size: 3em;
  padding: 0;
}
.main-container .main-content .info-section {
  max-width: 900px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}
.main-container .main-content .info-section .card-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 4em;
}
.main-container .main-content .info-section .card-section .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .main-content .info-section .card-section .card .card-icon {
  width: 128px;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
}
.main-container .main-content .info-section .card-section .card#card_merch .card-icon {
  background-image: url('../images/desktop/001-shirt.svg');
}
.main-container .main-content .info-section .card-section .card#card_support .card-icon {
  background-image: url('../images/desktop/002-support.svg');
}
.main-container .main-content .info-section .card-section .card#card_security .card-icon {
  background-image: url('../images/desktop/004-shield.svg');
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(220, 220, 220, 0.8);
  align-items: center;
  justify-content: center;
}
.modal .modal-box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
  width: 800px;
}
.modal .modal-box #modal_close_button {
  cursor: pointer;
  position: absolute;
  top: -0.25em;
  right: 0.25em;
  color: #000000;
  font-size: 3em;
}
.modal .modal-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal .modal-box > form input {
  font-family: "canada-type-gibson", sans-serif;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #b8b8b8;
  background-color: transparent;
  color: #b8b8b8;
  width: 80%;
  margin: 1em;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #000000;
}
.modal .modal-box > form input:focus {
  outline: none;
  border-color: #ec292a;
}
.modal .modal-box > form a {
  color: #b8b8b8;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2em 0 3em;
  font-size: 1.1em;
}
.modal .modal-box > form .modal-button-bar {
  display: flex;
  width: 100%;
}
.modal .modal-box > form .modal-button-bar > h4 {
  margin: 0;
  width: 50%;
  text-align: center;
  font-weight: 300;
  padding: 2em;
}
@media (max-width: 575px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
    padding: 0em;
  }
  .main-container .menu-bar {
    flex-direction: column;
    height: auto;
  }
  .main-container .menu-bar .menu-branding {
    height: 60px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  }
  .main-container .menu-bar .menu-branding .menu-logo {
    width: 50px;
    background-size: cover;
    background-position: center;
  }
  .main-container .menu-bar .menu-branding .hamburger {
    display: inline-block;
  }
  .main-container .menu-bar .menu-options {
    flex-direction: column;
    margin: 0;
    overflow: hidden;
  }
  .main-container .menu-bar .menu-options .menu-option {
    display: none;
  }
  .main-container .menu-bar .menu-options > h4 {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .main-container .menu-bar .menu-options > h4#signin_button {
    font-size: 0.8em;
    font-weight: 100;
  }
  .main-container .main-content .call-to-action {
    height: auto;
    padding: 0 0 2em;
  }
  .main-container .main-content .call-to-action h1 {
    font-size: 2em;
  }
  .main-container .main-content .call-to-action p,
  .main-container .main-content .call-to-action .button {
    font-size: 0.8em;
  }
  .main-container .main-content .call-to-action > * {
    max-width: 90vw;
  }
  .main-container .main-content .info-section {
    margin: 1em 0 4em;
  }
  .main-container .main-content .info-section .card-section {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .main-container .main-content .info-section .card-section .card {
    text-align: center;
    margin: 2em 0.15em;
    width: 100%;
  }
  .modal {
    background-color: transparent;
    padding-top: 60px;
  }
  .modal .modal-box {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.2);
  }
  .modal .modal-box form {
    height: calc(100% - 60px);
  }
  .modal .modal-box form .modal-button-bar > h4 {
    padding: 1em 2em;
  }
}
