@color-main: #ec292a;
@color-secondary: #000000;
@color-light: #b8b8b8;
@color-base: #fff;

@menu-height: 110px;
@page-width: 1440px;

body {
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: @color-base;
}

h1, h2, h3, h4 {
    color: @color-main;
    text-transform: uppercase;
    padding: 1em;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 600;
    font-size: 2em;
}

h4  {
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.1em;
}

p {
    color: @color-main;
    font-weight: 100;
    line-height: 2em;
}

.hamburger {
    position: relative;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid @color-main;
    border-bottom: 0.2em solid @color-main;
    display: none;
    cursor: pointer;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid @color-main;
}

.button {
    cursor: pointer;
    background-color: @color-main;
    color: @color-base;
    padding: 1em 3em;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-decoration: none;    
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;

    &:hover {
        background-color: lighten(@color-main, 20%);
    }

    &.button-grey {
        background-color: @color-light;
    }

    &.button-outline {
        background-color: transparent;
        border: 1px solid @color-base;
        font-weight: 300;

        &:hover {
            background-color: @color-base;
            color: #2A2A2A !important;
        }
    }
}

.main-container {
    max-width: @page-width;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-bar {
        height: @menu-height;
        max-width: @page-width;
        width: 100vw;
        display: flex;
        justify-content: space-between;

        .menu-branding {
            display: flex;
            align-items: center;

            .menu-logo {
                background-color: @color-main;
                height: 100%;
                width: 94px;
                background-image: url('../images/desktop/Page 1.svg');
            }
        }

        .menu-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 3em;

            & > h4 {
                margin: 0 1.5em;
            }
        }
    }

    .main-content {
        max-width: @page-width;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .call-to-action {
            max-width: @page-width;
            width: 100vw;
            height: 650px;
            background-color: #2A2A2A;
            background-image: url('../images/desktop/Home-team-hi.jpg');
            background-blend-mode: overlay;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > * {
                color: @color-base;
                max-width: 50%;
                text-align: center;
            }

            h1 {
                font-size: 3em;
                padding: 0;
            }
        }

        .info-section {
            max-width: 900px;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4em 0;

            .card-section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 1em 0 4em;

                .card {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;                    

                    .card-icon {
                        width: 128px;
                        height: 128px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &#card_merch {
                        .card-icon {
                            background-image: url('../images/desktop/001-shirt.svg');
                        }
                    }

                    &#card_support {
                        .card-icon {
                            background-image: url('../images/desktop/002-support.svg');
                        }
                    }
                    
                    &#card_security {
                        .card-icon {
                            background-image: url('../images/desktop/004-shield.svg');
                        }
                    }                    
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(220,220,220,0.8);
    align-items: center;
    justify-content: center;

    .modal-box {
        position: relative;
        background-color: @color-base;
        box-shadow: 0 0 2em rgba(0,0,0,0.3);
        width: 800px;

        #modal_close_button {
            cursor: pointer;
            position: absolute;
            top: -0.25em;
            right: 0.25em;
            color: @color-secondary;
            font-size: 3em;
        }
    
        & > form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            input {
                font-family: "canada-type-gibson", sans-serif;
                border-width: 0 0 1px;
                border-style: solid;
                border-color: @color-light;
                background-color: transparent;
                color: @color-light;
                width: 80%;
                margin: 1em;
                font-size: 1.1em;
                text-transform: uppercase;
                color: @color-secondary;

                &:focus {
                    outline: none;
                    border-color: @color-main;
                }
            }

            a {
                color: @color-light;
                text-transform: uppercase;
                text-decoration: none;
                margin: 2em 0 3em;
                font-size: 1.1em;
            }

            .modal-button-bar {
                display: flex;
                width: 100%;

                & > h4 {
                    margin: 0;
                    width: 50%;
                    text-align: center;
                    font-weight: 300;
                    padding: 2em;
                }
            }
        }        
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
        padding: 0em;
    }

    .main-container{
        .menu-bar {
            flex-direction: column;
            height: auto;

            .menu-branding {
                height: 60px;
                box-shadow: 0 0 1em rgba(0,0,0,0.4);

                .menu-logo {
                    width: 50px;
                    background-size: cover;
                    background-position: center;
                }

                .hamburger {
                    display: inline-block;
                }
            }
    
            .menu-options {
                flex-direction: column;
                margin: 0;
                overflow: hidden;

                .menu-option {
                    display: none;
                }

                & > h4 {
                    margin: 0;
                    width: 100%;
                    text-align: center;

                    &#signin_button {
                        font-size: 0.8em;
                        font-weight: 100;
                    }
                }
            }
        }

        .main-content {
            .call-to-action {
                height: auto;
                padding: 0 0 2em;

                h1 {
                    font-size: 2em;
                }

                p, .button {
                    font-size: 0.8em;
                }

                & > * {
                    max-width: 90vw;
                }
            }
    
            .info-section {
                margin: 1em 0 4em;
                .card-section {
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
            
                    .card {
                        text-align: center;
                        margin: 2em 0.15em;
                        width: 100%;
                    }
                }
            }
        }
    }

    .modal {
        background-color: transparent;
        padding-top: 60px;

        .modal-box {
            height: 100%;
            width: 100%;
            box-shadow: inset 0 0 1em rgba(0,0,0,0.2);

            form {
                height: calc(100% - 60px);

                .modal-button-bar {
                    & > h4 {
                        padding: 1em 2em;
                    }                   
                }
            }
        }
    }
}